@use "../../../assets/scss/bootstrap-variables" as *;

.dropdown-toggle::after {
  content: none;
}

.wac-navbar {
  background-color: $menu-bg-color;
  height: $header-height;
  border-right: 2px solid $bg-conversation-color;
}

#add, #filter {
  cursor: pointer;
}
