<div class="position-absolute mt-3 toast-container">
  @for (toast of allToasts(); track toast.id) {
    <ngb-toast
      [class]="toast.className"
      [autohide]="true"
      [delay]="3000"
      (hidden)="removeToast(toast)"
    >
      {{ toast.body }}
    </ngb-toast>
  }
</div>

<!--<router-outlet />-->
<div [class]="['m-4', 'main-background', 'main-grid', !this.isChatSelected ? 'no-chat' : '']" id="main">
  <div class="wac-navbar" id="navbar">
    <app-navbar
      (userChatSelected)="onUserChatSelected($event)"
      (groupChatCreated)="onGroupChatCreated($event)"
    ></app-navbar>
  </div>
  <div class="header" id="header">
    <app-conversation-bar
      [chat]="selectedChat!"
      [chatUsers]="chatUsers!"
    ></app-conversation-bar>
  </div>
  <div class="conversations" id="conversations">
    <app-conversations
      #conversationsList
      [messageCreated]="messageCreated()"
      (chatSelected)="onChatSelected($event)"
    ></app-conversations>
  </div>
  <div [class]="['chat', this.isChatSelected ? 'default' : '']" id="chat">
    <app-conversation-messages
      [chat]="selectedChat!"
      [chatMessages]="chatMessages!"
      [chatUsers]="chatUsers!"
      (repliedMessageEvent)="onMessageReplied($event)"
      (chatUserSelected)="onChatUserClicked($event)"
    ></app-conversation-messages>
  </div>
  <div class="send-message" id="send-message">
    <app-conversation-send-message
      [selectedChat]="selectedChat!"
      [(repliedMessage)]="repliedMessage!"
      [chatUsers]="chatUsers!"
      (messageCreated)="onMessageCreated($event)"
    ></app-conversation-send-message>
  </div>
</div>

<app-gallery></app-gallery>
