<!--<div class="main">-->
<!--  <div class="background-green"></div>-->

<!--  <div class="main-container d-flex">-->
<!--    <div class="d-flex flex-column justify-content-between align-items-center p-3 gray-bg">-->
<!--      <div>-->
<!--        <i class="fa-solid fa-message cursor-pointer"></i>-->
<!--      </div>-->
<!--      <div class="d-flex flex-column align-items-center gap-2">-->
<!--        <i class="fa-solid fa-user cursor-pointer" (click)="userProfile()"></i>-->
<!--        <i class="fa-solid fa-door-open cursor-pointer" (click)="logout()"></i>-->
<!--      </div>-->
<!--    </div>-->
    <div class="d-flex h-100 w-100">
<!--      <div class="col-3">-->
<!--        <app-chat-list-->
<!--          [chats]="chats"-->
<!--          (chatSelected)="chatSelected($event)"-->
<!--        ></app-chat-list>-->
<!--      </div>-->
      @if (selectedChat.id) {
        <div class="col-9">
          <div class="d-flex flex-column justify-content-between h-100">
            <div class="gray-bg p-2 title">
              <div class="d-flex gap-2 align-items-center">
                @if (selectedChat) {
                  <div class="user-img">
                    <img src="user.svg" alt="">
                  </div>
                  <div class="d-flex flex-column">
                    <span>{{ selectedChat.name }}</span>
                    <div class="d-flex gap-1 align-items-center">
                      @if (selectedChat.isRecipientOnline) {
                        <small class="online-status"></small>
                        <small>Online</small>
                      } @else {
                        <small class="offline-status"></small>
                        <small>Offline</small>
                      }
                    </div>
                  </div>
                }
              </div>
            </div>

            <div #scrollableDiv class="h-100 bg-chat p-3 overflow-y-scroll d-flex
              flex-column-reverse">
              @for (message of chatMessages.slice().reverse(); track message.id) {
                @if (isSelfMessage(message)) {
                  <div class="message-box self">
                    <div class="d-flex flex-column">
                      @if (message.type === "TEXT") {
                        <span>{{ message.content }}</span>
                      } @else if (message.mediaListReferences) {
                        @for (media of message.mediaListReferences; track media) {
                          <img width="200" class="cursor-pointer" [src]="mediaBaseUrl + media" alt="">
                        }
                      }
                      <small class="text-black-50">
                        {{ message.createdAt | date:'hh:mm a': 'local' }}
                        @if (message.state === 'SENT') {
                          <span>
                          <i class="fas fa-check"></i>
                        </span>
                        } @else {
                          <span>
                          <i class="fas fa-check seen"></i>
                          <i class="fas fa-check seen ml-neg"></i>
                        </span>
                        }
                      </small>
                    </div>
                  </div>
                } @else {
                  <div class="message-box other">
                    <div class="d-flex flex-column align-items-end">
                      @if (message.type === "TEXT") {
                        <span>{{ message.content }}</span>
                      } @else if (message.mediaListReferences) {
                        @for (media of message.mediaListReferences; track media) {
                          <img width="200" class="cursor-pointer" [src]="mediaBaseUrl + media" alt="">
                        }
                      }
                      <small class="text-black-50">
                        {{ message.createdAt | date:'hh:mm a':'local' }}
                      </small>
                    </div>
                  </div>
                }
              }
            </div>

            <div class="gray-bg p-2">
              <div class="d-flex align-items-center gap-2">
                <i class="fa-regular fa-face-smile cursor-pointer"
                   (click)="showEmojis = !showEmojis"
                ></i>
                @if (showEmojis) {
                  <emoji-mart [set]="'google'"
                              title="Pick your emoji..."
                              emoji="smile"
                              class="emojis-panel"
                              (emojiClick)="onSelectEmojis($event)"
                  ></emoji-mart>
                }
                <i class="fas fa-paperclip cursor-pointer"
                   (click)="inputFile.click()"
                ></i>
                <input #inputFile
                       type="file"
                       [hidden]="true"
                       accept=".jpg, .jpeg, .png, .pdf, .svg, .mp4, .mov, .mp3"
                       multiple="multiple"
                       (change)="uploadMedia($event.target)"
                >
                <input type="text"
                       class="form-control-sm w-100"
                       placeholder="Type a message"
                       [(ngModel)]="messageContent"
                       (keydown)="keyDown($event)"
                       (click)="onClick()"
                >
                @if (messageContent) {
                  <i class="fas fa-paper-plane cursor-pointer" (click)="sendMessage()"></i>
                } @else {
                  <i class="fas fa-microphone cursor-pointer"></i>
                }
              </div>
            </div>
          </div>
        </div>
      } @else {
        <div class="d-flex flex-column justify-content-center align-items-center h-100 w-100 bg-chat">
          <img src="assets/images/wa_banner.png" alt="" width="350px">
          <h2 class="pt-3 title">WhatsApp Clone Application</h2>
          <p class="title">...</p>
        </div>
      }
    </div>
<!--  </div>-->
<!--</div>-->
