@use "../../../../assets/scss/bootstrap-variables" as *;

.wac-footer {
  background-color: $menu-bg-color;
  min-height: $send-height;
}

.dropdown-toggle::after {
  content: none;
}

.btn-transparent:hover {
  background-color: $btn-menu-active-color;
}

.chat-textarea {
  resize: none;
  overflow-y: auto;
  max-height: calc(1.5em * 5);
  line-height: 1.5em;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  padding: 8px 12px;
}

.emojis-panel {
  position: absolute;
  left: 350px;
  bottom: 80px;
  z-index: 1000;
  overflow-y: auto;
}

.reply-box {
  background: #2a2f32;
  border-left: 3px solid #00a884;
  border-radius: 6px;
  font-size: 0.9rem;
}

.reply-title {
  font-weight: 600;
  color: #00a884;
}

.reply-content {
  color: #ddd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recording-ui {
  background: $menu-bg-color;
  border-radius: 10px;
  color: white;
  width: 380px;
}

.recording-status {
  flex-grow: 1;
  justify-content: end;
}

.recording-dot {
  width: 10px;
  height: 10px;
  background-color: #ff4d4d;
  border-radius: 50%;
  margin-right: -5px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.recording-wave {
  display: flex;
  align-items: center;
  height: 10px;
}

.dot {
  width: 2px;
  height: 2px;
  margin: 0 1px;
  background-color: $send-color;
  border-radius: 50%;
}

.dot:nth-child(odd) {
  animation-delay: 0.2s;
}

.send-btn {
  background: $message-bg-color;

  &:hover {
    background: $reply-message-bg-color;
  }
}

.recording-timer {
  color: white;
  margin: 0 10px 0 0;
  font-size: 1rem;
  width: 45px;
  text-align: right;
}

.recording-actions button {
  margin-left: 10px;
}

.recording-preview {
  background-color: $menu-bg-color;
  border-radius: 10px;
  padding: 6px 10px;
  width: 400px;
}

.audio-player {
  display: flex;
  align-items: center;
  border: 1px solid $subtitle-color;
  border-radius: 60px;
  width: 100%;
  position: relative;
}

.progress-container {
  position: relative;
  height: 4px;
  background: transparent;
}

.progress-bar-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: $menu-bg-color;
  border-radius: 2px;
}

.progress-bar-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background-color: $primary;
  border-radius: 2px;
  transition: width 0.2s linear;
}

.progress-dot {
  position: absolute;
  top: -3px;
  width: 10px;
  height: 10px;
  background-color: $primary;
  border-radius: 50%;
  transform: translateX(-50%);
  transition: left 0.2s linear;
}

.dotted-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-image: linear-gradient(to right, $menu-bg-color 30%, transparent 30%);
  background-size: 6px 4px;
}
