@import "../../../../assets/scss/bootstrap-variables";

.wac-navbar {
  background-color: $menu-bg-color;
  height: $header-height;
}

.avatar-unknown {
  align-content: center;
  border-radius: 50px;
  font-size: 24px;
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: center;
  background-color: #6A7176;
  color: #CFD4D7;
}

.btn-secondary {
  color: $input-color;
  background-color: $input-bg;
  border-color: transparent;

  &:hover {
    background-color: $btn-menu-active-color;
  }
}

.btn-transparent:hover {
  background-color: $btn-menu-active-color;
}

.online-status {
  background: $primary;
  min-width: 10px;
  max-width: 10px;
  height: 10px;
  border-radius: 50%;
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offline-status {
  background: $icon-color;
  min-width: 10px;
  max-width: 10px;
  height: 10px;
  border-radius: 50%;
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-sidebar {
  position: absolute;
  top: $main-margin + 10px;
  left: 30%;
  width: 500px;
  height: 60%;
  background-color: #111b21;
  color: #e9edef;
  border-left: 1px solid #2a2f32;
  display: flex;
  flex-direction: column;
  animation: slideIn 0.3s ease forwards;
  z-index: 1000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.45);
}

.profile-container {
  display: flex;
  height: 100%;
}

.profile-menu {
  width: 150px;
  background-color: #1f2c33;
  border-right: 1px solid #2a2f32;
}

.profile-menu ul li {
  padding: 10px 16px;
  border-radius: 8px;
  margin-bottom: 0.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #d1d7db;
  transition: background-color 0.2s;
}

.profile-menu ul li:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.profile-menu ul li.active {
  position: relative;
  background-color: rgba(255, 255, 255, 0.25);
  color: #ffffff;
}

.profile-menu ul li.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 25%;
  width: 3px;
  height: 50%;
  background-color: #00a884;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.profile-header {
  border-bottom: 1px solid #2a2f32;
  background-color: #111b21;
}

.profile-content {
  height: 100%;
  scrollbar-width: thin;
  scrollbar-color: $secondary transparent;
  overflow-y: scroll;
  position: relative;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    color: $secondary;
  }
}

.edit-profile {
  position: absolute;
  top: 10px;
  right: 10px;
}

.profile-photo {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  object-fit: cover;
  font-size: 30px;
}

.color-red {
  color: $danger;
}

.members-list {
  background-color: #111b21;
  color: #fff;
}

.search-input {
  .search-box,
  .input-group-text {
    border: none;
    border-bottom: 2px solid $secondary;
    color: white;
  }

  .input-group-text {
    color: $subtitle-color;
  }

  &:focus-within {
    .search-box,
    .input-group-text {
      box-shadow: none;
      border-bottom-color: $primary;
    }
  }
}

.add-member-item {
  cursor: pointer;
}

.hover-bg:hover {
  background-color: #202c33;
}

.user-avatar {
  width: 42px;
  height: 42px;
  overflow: hidden;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.member-item {
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.member-item:hover {
  background-color: #2a3942;
}

.text-muted {
  color: #aebac1 !important;
}
